.movieBox {
    padding: 5px;
}

.movieTitle {
    text-align: center;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
}

.movieImg :hover {
    opacity: 0.5;
}

.movieImgBox {
    display: flex;
    opacity: 0;
}

img {
    width: 230px;
    height: 345px;
}

.dummyImg {
    background-color: black;
    width: 230px;
    height: 345px;
}