.movieBox {
    padding: 5px;
}

.movieTitle {
    text-align: center;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
}

.movieImg {
    position: relative;
}

.movieImgBox {
    display: flex;
    opacity: 0;
}

img {
    width: 230px;
    height: 345px;
}

.ratingBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(90, 90, 90);
    opacity: 0;
    transition: 0.5s;
}

.ratingBox:hover {
    opacity: 0.5;
}

.ratingBox:hover + .rating {
    opacity: 1;
}

.rating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-weight: bold;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.coverimg {
    position: relative;
    width: 80;
    height: 150;
}

.box {
    position: absolute;
    box-shadow: 5px 5px 5px gray;
    width: 400px;
    height: 200px;
}